19042021_draw_german_counties.ipynb.ipynb
RKI_COVID19.csv
RKI_COVID19.geojson
german_county_data.txt
inhabitants_german_counties_estimate_from_31092019csv.csv
unsupervised_modified_german_county_data.txt
